<div class="content" *ngIf="$comicData | async as comicInfo; else loadingTemplate" fxLayout="row wrap" fxLayoutGap="4%" fxLayoutAlign=" start" [@fadeInOut]>
  <img class="main-img mat-elevation-z4" [src]="comicInfo.thumbnail | imgFullPath" fxFlex="33%" fxFlex.lt-sm="100">
  <section class="text" fxFlex="63%" fxFlex.lt-sm="100">
    <h1>{{ comicInfo.title }}</h1>
    <p class="row-text" *ngIf="comicInfo.dates">
      <b>Fecha de venta:</b>
      <span>{{ comicInfo.dates[0].date | date: 'dd/MM/YYYY' }}</span>
    </p>
    <p [innerHTML]="comicInfo.description"></p>
  </section>
</div>

<ng-template #loadingTemplate>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
