mat-toolbar {
  display: flex;
  .spacer {
    flex: 1 1 auto;
  }
  .logo-brand, :visited {
    align-items: baseline;
    color: #fff;
    display: flex;
    small {
      margin-left: 10px;
      opacity: 0.85;
    }
  }
}
